.current {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
  text-align: center;
  margin: 0 2em;
}

.auth {
  text-align: center;

  &__button {
    margin: 2em;
    padding: 10px;
    border-radius: 13px;
    font-family: var(--main-text-font);
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    cursor: pointer;
  }
}
