.nav {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
  }

  li {
    font-size: 13px;
    padding: 0px 10px;
    color: var(--header-text-color);
    font-family: var(--main-text-font);
    height: 70px;
    display: flex;
    place-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    :hover {
      background: linear-gradient(
        180deg,
        rgb(249, 39, 39, 0.75),
        80%,
        rgba(194, 0, 0, 0.75)
      );
      color: var(--header-bg-color);
    }
  }

  .selected {
    background: linear-gradient(
      180deg,
      var(--header-text-color),
      80%,
      rgb(220, 0, 0)
    );
    color: var(--header-bg-color);
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: inherit;
  padding: 0.5em;
  border-radius: 30%;
}

.hamburger > span {
  display: block;
  width: 27px;
  height: 4px;
  margin-bottom: 4px;
  background-color: transparent;
  border-radius: 15%/45%;
  border: solid var(--header-text-color) 1px;
  box-sizing: unset;
}

/* <805 is when the title h1 wraps to two lines */
@media (max-width: 805px) {
  .nav ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.fsMenu {
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  opacity: 99%;
  z-index: 1;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    place-content: space-evenly;
    align-items: center;
  }

  li:hover {
    cursor: pointer;
  }
}

@media (min-width: 806px) {
  .fsMenu {
    display: none;
  }
}
