.posts {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.input_wrapper {
  display: flex;
  place-content: center;
}

.price {
  display: grid;
  row-gap: 8px;
  column-gap: 12px;
  margin: 12px 0;

  > h4 {
    margin: 0;
  }

  > div {
    text-align: left;
  }

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
}
