.main {
  padding: 1em;
  text-align: center;

  &__FaqHeader {
    margin-top: 0em;
  }

  details {
    padding: 1em 0em;
    max-width: 60%;
    margin: auto;
  }

  summary {
    outline: none;
  }

  h4 {
    display: inline;
  }
}
