.main {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
  text-align: center;
  padding: 1em;

  @media (min-width: 800px) {
    flex-direction: row;
  }
}

.image {
  border-radius: 15px;
}
