.auth_wrapper {
  text-align: center;
}

.auth_button {
  margin: 2em;
  padding: 10px;
  border-radius: 13px;
  font-family: var(--main-text-font);
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  cursor: pointer;
}

.login_page {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.login_page * {
  margin: 0.5em;
}
