.card {
  background: linear-gradient(180deg, var(--header-bg-color), 80%, #ddd);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.image {
  display: flex;
  flex-direction: column;
  height: 15vh;
}

/* need to target child img to prevent being overruled by nextJS image component */
.image img {
  object-fit: cover;
}

.figcaption {
  display: flex;
  place-content: center;
  text-align: center;
  color: var(--header-text-color);
  margin-bottom: 10px;
}
