.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, var(--header-bg-color), 80%, #ccc);
}

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.5em;
  padding: 0em 0.5em;
  display: flex;
  color: var(--header-text-color);
  font-family: var(--header-text-font);
  text-align: center;
  line-height: 1em;
  margin: 0;
}
