.introduction {
  text-align: center;
  font-size: 0.9em;
  margin: 0 4em;
}

.dad_announcement {
  border: forestgreen solid 3px;
}

.alert {
  position: absolute;
  width: 100%;
  top: 4em;
  font-size: 2em;
  background-color: var(--header-text-color);
  color: var(--header-bg-color);
  text-align: center;
}
