.nav ul {
  margin: 0em;
  display: flex;
  list-style: none;
}

.nav li {
  padding: 0px 10px;
  text-align: center;
  color: var(--header-text-color);
  display: flex;
  place-items: center;
  font-family: var(--main-text-font);
}
