.nav {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.nav ul {
  display: flex;
}

.nav li {
  list-style: none;
  padding: 1em;
}
