.main {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
  color: white;
  text-align: center;
  padding: 1em;
}

@media (min-width: 800px) {
  .main {
    flex-direction: row;
  }
}

.list {
  list-style: none;
  padding: 0px;
}

.item {
  padding: 0.5em;
}
