.slideshow {
  position: relative !important;
  display: flex;
  height: 55vh;
  place-items: center;
}

.image {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 95%;
  max-height: 95%;
  transition: opacity 2s ease-in-out;
  box-shadow: 2px 2px 5px black;
}

.hidden {
  opacity: 0;
}
